.art-board{
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  }

  .movie-genre{
    text-align: center;
  }

  .genre-button{
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(75, 75, 75);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    margin-top: 7px;
  }